.slides {
	padding-top: 50px;
	padding-bottom: 60px;
	position: absolute;
	right: 265px;
}

.navbar {
	background-color: white;
	height: 50%;
	width: 100%;
	z-index: 3;
}

.logo {
	width: 23%;
	height: 23%;
	padding-top: 17px;
}

.navd {
	font-family: "Trebuchet MS";
	font-size: 17px;
	color: #242929;
	position: absolute;
	right: 243px;
	top: 49px;
}

.options {
	height: 5%;
	width: 100%;
	background-color: #38AECC;
	padding-top: 5px;
	padding-bottom 5px;
	font-weight: bold;
}

.options a {
	display: inline;
	padding-right: 60px;
	color: white;
	padding-left: 60px;
	letter-spacing: 0.27em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.facebook {
	position: absolute;
	right: 186px;
	top: 36px;
	width: 3%;
	height: 38%;
}

.insta {
	position: absolute;
	right: 145px;
	top: 42px;
	width:2%;
	height: 25%;
}

.twt {
	position: absolute;
	right: 88px;
	top: 36px;
	width: 3%;
	height: 38%;
}

.gmail {
	position: absolute;
	top: 38px;
	right: 40px;
	width: 2.5%;
	height: 35%;
}

.introtitle {
	position: absolute;
	top: 470px;
	right: 40px;
	color: white;	
	text-align: right;
	font-weight: bold;
}

.introtitle2 {
	position: absolute;
	top: 557px;
	right: 40px;
	color: white;	
	text-align: right;
	font-weight: bold;
}

.introtext {
	position: absolute;
	color: white;
	top: 667px;
	right: 40px;
	left: 560px;
	text-align: right;
}

.caption {
	font-family: Garamond;
	color: white;
	font-size: 475%;
	font-weight: bold;
}

.capone {
	position: absolute;
	top: 10%;
	right: 30%;
	left: 30%;
	line-height: 1;	
}

.captwo {
	position: absolute;
	top: 7%;
	right: 24%;
	left: 37%;
	text-align: right;
	line-height: 1;
}

.capthree {
	position: absolute;
	top: 7%;
	right: 24%;
	left: 37%;
	text-align: right;
	line-height: 1;
}

.articlepic {
	position: absolute;
	top: 1350px;
	left: 60px;
	width: 13%;
}

.articlepic2 {
	position: absolute;
	top: 1350px;
	left: 390px;
	width: 13%;
}

.articlepic:hover {
	opacity: 0.8;
}

.articlepic2:hover {
	opacity: 0.8;
}

.art {
	font-family: 'Trebuchet MS';
	font-size: 16px;
	line-height: 1.5;
	line-spacing: 0.8;
	font-align: justify;
	position: absolute;
	top: 1360px;
	left: 237px;
	right: 860px;
}

.art2 {
	font-family: 'Trebuchet MS';
	font-size: 16px;
	line-height: 1.5;
	line-spacing: 0.8;
	font-align: justify;
	position: absolute;
	top: 1360px;
	left:573px;
	right: 500px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
	position: absolute;
	top: 1450px;
	left:573px;
	right: 540px;    
}

hr2 {
	display: block;
	height: 1px;
	border: 0;
 	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
	position: absolute;
	top: 1476px;
	left: 236px;
	right: 880px;    
}

.aboutbox {
	background-color: #38AECC;
	position: absolute;
	top: 877px;
	right: 16px;
	width: 40%;
	height: 72%;
	opacity: 0.7;
	font-family: 'Trebuchet MS';
	font-size: 240%;
	color: white;
	padding-top: 20px;
	padding-left: 16px;
}

.abouttext {
	font-family: 'Trebuchet MS';
	font-size: 18px;
	color: white;
	position: absolute;
	top: 970px;
	left: 750px;
	right: 35px;
}

.aboutlink {
	color: #EFCA08;
	font-size: 16px;
	font-weight: bold;
	font-family: "Trebuchet MS";
	position: absolute;
	top: 330px;
	right: 85px;
}

.image {
	width: 436%;
	position: absolute;
	top: -165px;
	right: 26px;
	left: 500px;
}

.power {
	font-family: 'Trebuchet MS';
	font-size: 260%;
	position: absolute;
	top: 107px;
	left: -180px;
	color: #38AECC;
}

.powerdes {
	font-family: 'Trebuchet MS';
	font-size: 18px;
	position: absolute;
	top: 180px;
	left: -160px;
	right: -260px;
}

.learnlink {
	color: #EFCA08;
	font-size: 16px;
	font-weight: bold;
	font-family: "Trebuchet MS";
	position: absolute;
	top: 390px;
	left: -160px;
	right: -260px;
}

.water12 {
	width: 436%;
	position: absolute;
	top: 180px;
	right: 26px;
	left: 500px;
}